h1, h2, h3 {
  font-family: PokemonSolid;
  color: #ffc107;
  text-shadow: -2px 0 #001b66, 0 2px #001b66, 2px 0 #040dc9, 0 -2px #566fff;
  margin-bottom: 2rem;
}
p {
  color: white;
}
ol > li {
  margin: 2%;
  background-color: #535c66;
  border-radius: 10px;
  border: 2px #040dc9 outset;
}
footer {
  background-color: #25292d;
  margin-top: 2%;
  padding: 5%;
}
#adventureBegins {
  font-family: PokemonHollow;
  font-size: 3rem;
}
.dailyReport {
  border-radius: 10px;
  border: 5px #040dc9 inset;
}
@font-face {
  font-family: "PokemonSolid";

  src: url("../fonts/PokemonSolid.woff") format("woff"),
    url("../fonts/PokemonSolid.woff2") format("woff2");
}
@font-face {
  font-family: "PokemonHollow";

  src: url("../fonts/PokemonHollow.woff") format("woff"),
    url("../fonts/PokemonHollow.woff2") format("woff2");
}
