h1, h2, h3 {
  font-family: PokemonSolid;
  color: #ffc107;
  text-shadow: -2px 0 #001b66, 0 2px #001b66, 2px 0 #040dc9, 0 -2px #566fff;
  margin-bottom: 2rem;
}
p {
  color: white;
}
ol > li {
  margin: 2%;
  background-color: #535c66;
  border-radius: 10px;
  border: 2px #040dc9 outset;
}
footer {
  background-color: #151719;
  margin-top: 2%;
  padding: 5%;
}
#navbarDesktop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
  height: 100vh;
  background-color: #25292d;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}
#mobileNav {
  display: none;
}
.dailyReport {
  border-radius: 10px;
  border: 5px #040dc9 inset;
}
.reportsTitles {
  font-family: PokemonSolid;
  font-size: 2rem;
  color: #ffc107;
  text-shadow: -2px 0 #001b66, 0 2px #001b66, 2px 0 #040dc9, 0 -2px #566fff;
}
.pcBoxes:hover {
  color: #040dc9;
  text-shadow: -2px 0 #bf8f01, 0 2px #bf8f01, 2px 0 #ffc107, 0 -2px #ffd044;
}
@font-face {
  font-family: "PokemonSolid";

  src: url("../fonts/PokemonSolid.woff") format("woff"),
  url("../fonts/PokemonSolid.woff2") format("woff2");
}
@font-face {
  font-family: "PokemonHollow";

  src: url("../fonts/PokemonHollow.woff") format("woff"),
  url("../fonts/PokemonHollow.woff2") format("woff2");
}
@media screen and (max-width: 920px){
  footer {
    padding-bottom: 4.5rem;
  }
  #navbarDesktop {
    display: none;
  }
  #mobileNav {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 1300;
    background-color: #25292d;
    width: 110vw;
    border-top: 5px ridge black;
  }
}
